@import url('https://fonts.googleapis.com/css2?family=Domine&family=Roboto+Slab&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Domine', sans-serif;
}

/* Navigation bar */

header {
    background-color: #ff2400;
    width: 100%;
    height: 100px;
}

header .logo-text {
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 30px;
    color: #00FA9A;
    text-align: center;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
}

header nav ul li a {
    color: #000000;
    font-size: 13px;
}

header nav ul li a:hover {
    color: #00FA9A;
    border: #00FA9A 2px solid;
}

nav ul .active {
    color: #00FA9A;
    border: #00FA9A 2px solid;
}

/* Hero image */

.hero-image {
    height: calc(100vh - 200px);
    width: 100%;
    background: url(../images/hero-img.jpg) no-repeat center center;
    background-size: cover;
    display: table;
}

.hero-text {
    color: #fff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.hero-text h1 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 60px;
}

.hero-text h3 {
    text-transform: capitalize;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

/* Main section */

.ta-chart {
    height: fit-content;
    width: 100%;
}

.trade-chart {
    height: fit-content;
    width: 100%;
}

.main-sec {
    margin: 20px;
    text-align: center;
}

.main-sec h2, h4 {
    padding: 20px;
}

/* TA video */

.ta-video-container {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    position: relative;
}

.ta-video-container iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#important {
    margin: 10px;
    padding: 5px;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
}

#chart-pattern {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #000000;
    background-color: #00FA9A;
    border-radius: 50%;
} 

#chart-pattern:hover {
    color: #ff2400;
}
/* Footer content */

footer {
    
    padding-top: 20px;
    height: auto;
    width: 100vw;
    background: #ff2400;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.footer-content p {
    max-width: 300px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 16px;
}

.social-links {
    margin: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
}

.social-links a i {
    font-size: 150%;
    color: #000000;
}

.social-links a:hover i {
    color: #00FA9A;
    border: #00FA9A 2px solid;
}

/* About Us Page */


/* Media Queries */

/* For larger screens 950px and above */

@media screen and (min-width: 950px) {

    /* Nav */
    header .logo-text {
        padding: 30px 10px 20px 80px;
        float: left;
        line-height: 40px;
        font-size: 40px;
        letter-spacing: 4px;
    }

    header nav ul {
        padding: 30px 60px 20px 0px;
        float: right;
        line-height: 40px;
    }

    header nav ul li {
        display: inline-block;
        list-style: none;
        padding: 0 10px;
    }

    header nav ul li a {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .ta-chart {
        height: 100%;
        width: 100%;
    }

    #trade-style {
        justify-content: center;
        align-items: center;
        padding: 0 20%;
        border: none;
    }



}

/* For larger screens 600px and above */ 

@media screen and (min-width: 600px) {

    .main-sec {
        padding: 20px;
        text-align: center;
    }

    .ta-chart {
        height: 30%;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .trade-chart, .candlestick-media {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 10px;
    }

    
}